<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi !</h1>
    <p>
      New order of <%= @order.user.email %> for a total price of <%= @order.user.cart.total_price %> € on PICAT.
    </p>
    <p>
      Details of your order :
    </p>
      <% @line_items.each do |line| %>
        <tr>
            <th scope="row">
            <%if line.item.picture.attached?%>
                <%= image_tag(line.item.picture.variant(resize: "100x100"), alt: 'picture') %>
            <%else%>
                <%= image_tag('default_cat.jpg', size: "100x100") %>
            <%end%>
            </th>
            <td><%= line.item.title %></td>
            <td>€<%= line.item.price %></td>
            <td>x <%= line.quantity %></td>
        </tr>
      <% end %>
  </body>
</html>