<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @order.user.email %> !</h1>
    <p>
      We confirm your purchase of <%= @order.user.cart.total_price %> € on PICAT.
    </p>
    <p>
      Details of your order :
    </p>
      <% @line_items.each do |line| %>
          <tr>
              <th scope="row"><%= image_tag(line.item.image_url, size: "100x100") %></th>
              <td><%= line.item.title %></td>
              <td>€<%= line.item.price %></td>
              <td>x <%= line.quantity %></td>
          </tr>
      <% end %>
    <p> 
      Thank you and see you soon on Picat !
    </p>
  </body>
</html>
