Hi !
==========================================================
 
New order of <%= @order.user.email %> for a total price of <%= @order.user.cart.total_price %> € on PICAT.

Details of order :

<% @line_items.each do |line| %>
    <tr>
        <th scope="row"><%= image_tag(line.item.image_url, size: "100x100") %></th>
        <td><%= line.item.title %></td>
        <td>€<%= line.item.price %></td>
        <td>x <%= line.quantity %></td>
    </tr>
<% end %>
