<div class="container">
  <div class="row">
    <h2 class="h3 mb-3 font-weight-normal text-center">My profil</h2>
            <ul class="nav navbar-nav">
                <li>
                    Your Id : <%= current_user.email %>
                </li>
                <li>
                    <%= link_to "Edit your informations", edit_user_registration_path, class: "btn btn-lg btn-primary btn-block" %>
                </li>
            </ul>
        <div class="container">
        <h2 class="h3 mb-3 font-weight-normal text-center">My orders</h2>
            <% @orders.each do |order|%>
                <div class="container">
                    <h3>Order N° :<%= order.id%><%= order.created_at%></h3>
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"></th>
                        </tr>
                    
                        </thead>
                        <tbody>
                        <% order.order_items.each do |order| %>
                        <tr>
                            <th scope="row"><%= image_tag(order.item.image_url, size: "100x100") %></th>
                            <td><%= order.item.title %></td>
                            <td>€<%= order.item.price %></td>
                            <td>x <%= order.quantity %></td>
                        </tr>
                        <% end %>
                        <tr>
                            <th></th>
                            <td></td>
                            <td><strong>TOTAL PRICE : €<%= order.amount.to_i/100 %></strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            <% end %>
        <p class="h3 mb-3 font-weight-normal text-center"><%= link_to "return home page", root_path, class: "btn btn-primary" %></p>
        </div>
    </div>
</div>








