    <section class="section-min section product white-bg" id="products">
		<div class="container overflow-hidden">
			<div class="row">
				<div class="col-md-12">
					<h3 class="section-heading">Products</h3>
				</div>
				<div class="col-md-12">
					<div class="product-list-slider">
						<ul class="swiper-wrapper product-list product-list-vertical">
                            <div class="row">
                                <% @items.each do |item|%>
                                    <div class="card col-md-4 mb-3">
                                        <%if item.image_url.nil?%>
                                            <%= link_to image_tag(item.picture.variant(resize: "320x180"), alt: 'picture'), item_path(item) %>
                                        <%else%>
                                            <%= link_to image_tag(item.image_url, size: "320x180"), item_path(item) %>
                                        <%end%>
                                            <div class="card-body">
                                                <span class="product-list-right">
                                                    <span class="product-list-name h4 black-color"><%= item.title %></span><br/>
                                                    <span class="product-list-price"><%= item.price %>€</span>
                                                </span>
                                            </div>
                                            <div class="portfolio-caption">
                                                <!-- Liens vers les différentes pages qui dépendent de l'event -->
                                                <%= link_to "Picture page", item_path(item), :class => "btn btn-primary btn-xl text-uppercase js-scroll-trigger"%>
                                                <%= button_to "Add to cart", cart_path(item), method: :put, class: "btn btn-default add-item" %>
                                            </div> <br/>                                      
                                    </div> 
                                 <%end%> 
                            </div>
						</ul>         
					</div>
				</div>
			</div>
		</div>
	</section>