<!-- PRODUCT MODAL -->
                    <section class="section-min section product white-bg" id="products">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-push-2">
									<div class="row">
										<div class="col-md-8">
											<h3 class="pull-left section-heading"><%= @item.title %></h3>
                                        </div>
                                        <div class="col-md-4">
											<span class="product-right-section">
												<% if current_user && current_user.cart.items.include?(@item) %>
													<!--Table-->
													<table>
														<!--Table body-->
														<tbody>
															<tr>
																<td><%= button_to " - ", cart_path(@item), method: :delete, class: "btn btn-default add-item" %></td>
																<td><%= @item.line_items.where(cart_id: current_user.cart).first.quantity %></td>
																<td><%= button_to "+", cart_path(@item), method: :put, class: "btn btn-default add-item" %></td>
															</tr>
														</tbody>
														<!--Table body-->
													</table>
													<!--Table-->
												<% else %>
													<%= button_to "Add to cart", cart_path(@item), method: :put, class: "btn btn-default add-item" %>
												<% end %>
           									</span>
										</div>
									</div>
								</div>
								<div class="col-md-8 col-md-push-2 product-description">
									
									<div class="row">
										<div class="col-md-6"> 
										<%if @item.picture.attached?%>
                                            <%= image_tag(@item.picture.variant(resize: "320x180"), alt: 'picture') %>
                                        <%else%>
                                            <%= image_tag('default_cat.jpg', size: "220x180") %>
                                        <%end%>
										</div>
										<div class="col-md-6">
											<h4 class="section-heading">Ut enim ad minim veniam</h4>
											<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
										</div>
									</div>
									<div class="product-tabs">
										<ul class="nav nav-tabs">
											<li class="active"><a data-toggle="tab" href="#tab1">Details</a></li>
											<li><a data-toggle="tab" href="#tab2">Info tab</a></li>
											<li><a data-toggle="tab" href="#tab3">Other info </a></li>
										</ul>
										<div class="tab-content">
											<div id="tab1" class="tab-pane fade in active">
												<h4 class="section-heading">details</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</div>
											<div id="tab2" class="tab-pane fade">
												<h4 class="section-heading">Info tab</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
											</div>
											<div id="tab3" class="tab-pane fade">
												<h4 class="section-heading">other info</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
			        </section>
		<!-- / PRODUCT MODAL -->
