<div class="container-fluid">
	<div class="navbar-header">
		<button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
			<span class="icon-bar"></span> 
			<span class="icon-bar"></span> 
			<span class="icon-bar"></span>
		</button>
		
		<a class="navbar-brand" href="<%= root_path %>"> <img src="https://i.pinimg.com/736x/1a/34/5c/1a345cdb8ba185c029a94763cd72ee49.jpg" alt="logo"></a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">
			<li><a href="<%= root_path %>">home</a></li>
			<li><a href="<%= root_path %>">products</a></li>
			<% if user_signed_in? %>
				<li>
					<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
				</li>
				<li>
					<%= link_to "My profile", profile_path %>
				</li>
			<% else %>
				<li>    
					<%= link_to "Sign in", new_user_session_path %>
				</li>
				<li>
				<%= link_to "Sign up", new_user_registration_path %>
				</li>
			<% end %>
			<li class="nav-item active">
                <%= link_to 'New Item', new_item_path, class: "nav-link" %>
            </li>
			<% if current_user %>
				<li class="nav-item active">
					<%= link_to cart_path(current_user.cart) do %> 
					<%= image_tag('cart_image.png', size: "20x20") %>
					<%= current_user.cart.line_items.sum(&:quantity) %>
					<% end %>           
				</li>
			<% end %>
		</ul>
	</div>
</div>
	